.header{
  font-family: 'Merienda One', cursive;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;

}
.radio{
  font-size: 20px;
  font-family: 'Sorts Mill Goudy', serif;
  color:white;

}
p {
  font-family: 'Prociono', serif;
  font-size: 30px;
  color:white;
  font-style: normal;
  font-weight: 200;
}
body{
  background-image: url(../image/quiz.gif);
  background-attachment: fixed;
}
.container{
  background-color: rgba(0,0,0, 0.3);
}
.rst{
  font-family: 'Fredericka the Great', cursive;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  border: 2px solid #4ECDC4;
}
.button{
  border: 2px solid #000428;
}
img{
  float: left;
  height: 65px;
  width: 65px;
}
